body {
	background-color: black;
}
img {
	max-width: 100%;
	height: auto;
}


.title	{
}
.title_child {
	display: flex;
	flex-wrap: column;
	justify-content: center;
}
	.title_child img {
		max-width: 100%;
		height: auto;
	}

.content_1 {
		display: flex;
		flex-wrap: column;
  		padding-bottom: 3px;
}
	.content_1 img {
		width: 100%;
		height: auto;
	}